.contextMenu {
  border: 1px solid;
  position: absolute;
  z-index: 10;
}
 
.contextMenuButton {
  border: none;
  display: block;
  padding: 0.6em;
  text-align: left;
  width: 100%;
	cursor: pointer;
}

.contextMenuButton:hover {
	background: #006ad8;
}